<div class="header" ng-controller="Default">
    <div class="container">
        <div class="row">
           <div class="col-md-2 col-sm-2">
              <!-- Logo -->
              <div class="logo">
                 <h1><a href="">PastQues</a></h1>
              </div>
           </div>
            <div class="col-md-4 col-sm-5">
                <!-- Navigation menu -->
                <div class="navi">
                    <div id="ddtopmenubar" class="mattblackmenu">
                        <ul>
                              <li><a href="#">Home</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Dropdown NavBar -->
                <div class="navis"></div>
            </div>

           <div class="col-md-4 col-sm-5">
              <div class="kart-links">
                 <div ng-if="session.username == 'Guest'">
                     <a  href="#login">Login</a>
                     <a href="#register">Signup</a>
                     <a class="pull-right"  href="#my-folder"><i data-toggle="tooltip" title="Click to view items in folder" class="fa fa-folder-open"></i></a>
                 </div>
                  <div ng-if="session.username != 'Guest'">
                      <a  href="" ng-click="logout()">Logout</a>
                      <a class="pull-right"  href="#my-folder"><i data-toggle="tooltip" title="Click to view items in folder" class="fa fa-folder-open"></i></a>
                  </div>
              </div>
           </div>
            <div class="col-md-2">
                <div class="kart-links pull-right">
                    <img height="40px" width="40px" alt="Avatar" src="client/img/user_img.png"><span><a href="" style="background-color: transparent"> {{session.username}}</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Dropdown menu -->
<script src="client/js/ddlevelsmenu.js"></script>

<!-- Custom JS -->
<script src="client/js/custom.js"></script>