<div ng-include="'client/partials/header.html'"></div>
      
    <div class="clearfix"></div>
        <div id="carousel-example-generic" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active animated fadeInRight">
                    <img src="client/img/back2.jpg" alt="" class="img-responsive" />
                    <div class="carousel-caption">
                        <h2 class="animated fadeInLeftBig">All Past Questions</h2>
                        <p class="animated fadeInRightBig">Where And When You Want It</p>
                        <form class="navbar-form" ng-submit="search()">
                          <div class="input-group">
                              <input ng-model="search_query" type="text" class="form-control" placeholder="Search">
                              <div class="input-group-btn">
                                  <button class="btn btn-warning btn-lg pull-right" type="submit" id="btn">Search</button>
                              </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
         </div>
      
        <div class="hero">
            <div class="container">
                <div class="row">
                   <div class="col-md-12">
                      <h3><span class="color"></span>  HOW<span class="color"> IT</span> WORKS</h3>
                   </div>
                </div>
                <div class="sep-bor"></div>
            </div>
        </div>

        <div class="shop-items blocky">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div><i class=""></i></div>
                        <div>Register with your phone number and or email from your computer. Create a password and sign in.</div>
                    </div>
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div><i class=""></i></div>
                        <div>Search the courses you need past questions for, or browse by departments. Select to add to your folder.</div>
                    </div>
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div><i class=""></i></div>
                        <div>Check out for your downloads. Confirm to download your selected past question.</div>
                    </div>
                </div>
            </div>
        </div>

        
<div ng-include="'client/partials/footer.html'"></div>