
<div ng-include="'client/partials/header.html'"></div>

<div class="blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="reg-login-info">
                    <h2>Login to Access Amazing Benefits <span class="color">!!!</span></h2>
                    <img src="client/img/back1.jpg" alt="" class="img-responsive img-thumbnail" />
                    <p>Duis leo risus, vehicula luctus nunc. Quiue rhoncus, a sodales enim arcu quis turpis. Duis leo risus, condimentum ut posuere ac, vehicula luctus nunc. Quisque rhoncus, a sodales enim arcu quis turpis.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="register-login">
                    <div class="cool-block">
                        <div class="cool-block-bor">

                            <h3>Login</h3>
                            <form class="form-horizontal" role="form" ng-submit="login()">
                                <div class="form-group">
                                    <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                                    <div class="col-lg-10">
                                        <input ng-model="username" type="text" class="form-control" id="inputUsername" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputphone" class="col-lg-2 control-label">Phone No.</label>
                                    <div class="col-lg-10">
                                        <input ng-model="phone" type="text" class="form-control" id="inputphone" placeholder="Phone number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="submit" class="btn btn-info">Sign in</button>
                                        <button type="reset" class="btn btn-default">Reset</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <a href="#register">Don't have an account? Sign-up</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sep-bor"></div>
    </div>
</div>
