    <div ng-include="'client/partials/header.html'"></div>
    <div class="page-title">
       <div class="container">
           <div class="col-md-12">
               <h2><i class="fa fa-folder-open color"></i> My Folder  <small>you can remove items from your folder</small></h2>
               <hr />
               <div ng-if="results.length <= 0">
                   <button disabled class="btn btn-primary pull-right"><i class="fa fa-download fa-1x"></i>Download Folder</button>
               </div>
               <div ng-if="results.length > 0">
                   <button class="btn btn-primary pull-right"><i class="fa fa-download fa-1x"></i>Download Folder</button>
               </div>
           </div>
       </div>
    </div>

    <div class="view-cart blocky">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                  <table datatable="ng" dt-options="dtOptions" class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Document</th>
                          <th>Date Added</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="res in results">
                            <td class="text-primary">{{res.file}}</td>
                            <td>{{res.date_added}}</td>
                            <td class="text-center">
                                <a class="btn btn-danger btn-sm" href="" ng-click="removeItem(res.id_item)">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                   </tbody>
                  </table>
                  <div class="sep-bor"></div>
             </div>
          </div>
       </div>
    </div>