    <div ng-include="'client/partials/header.html'"></div>
    <div class="page-title">
       <div class="container">
           <a ng-click="clearStorage()" class="btn btn-info pull-right">Go to Search</a>
          <h2><i class="fa fa-search color"></i> Search Results  <small>Download or add to folder</small></h2>
          <hr />
       </div>
    </div>

    <div class="view-cart blocky">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                  <table datatable="ng" dt-options="dtOptions" class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th class="text-center">Department</th>
                        <th class="text-center">Course Title</th>
                        <th class="text-center">Course code</th>
                        <th class="text-center">Session</th>
                        <th class="text-center">Year</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="res in results">
                            <td class="text-center">{{res.dept}}</td>
                            <td class="text-center">{{res.cours}}</td>
                            <td class="text-center">{{res.code}}</td>
                            <td class="text-center">{{res.sess}}</td>
                            <td class="text-center">{{res.exam_year}}</td>
                            <td class="text-center">
                                <button data-toggle="tooltip" title="Add to folder" ng-click="addItemToFolder(res.id_ques)" class="btn btn-info btn-sm">
                                    <i class="fa fa-folder-open"></i>
                                </button>
                                <a data-toggle="tooltip" title="Download" download="{{res.file}}" class="btn btn-success btn-sm" href="admin/files/{{res.file}}">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                   </tbody>
                  </table>
                  <div class="sep-bor"></div>
             </div>
          </div>
       </div>
    </div>