
   <div class="modal fade" id="shoppingcart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Shopping Cart</h4>
         </div>
         <div class="modal-body">
         
          <!-- Items table -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="single-item.html">HTC One</a></td>
                <td>2</td>
                <td>$250</td>
              </tr>
              <tr>
                <td><a href="single-item.html">Apple iPhone</a></td>
                <td>1</td>
                <td>$502</td>
              </tr>
              <tr>
                <td><a href="single-item.html">Galaxy Note</a></td>
                <td>4</td>
                <td>$1303</td>
              </tr>
              <tr>
                <th></th>
                <th>Total</th>
                <th>$2405</th>
              </tr>
            </tbody>
          </table>
          
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
           <button type="button" class="btn btn-info">Checkout</button>
         </div>
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
   </div><!-- /.modal -->
         
    <!-- Page title -->
    <div class="page-title">
       <div class="container">
          <h2><i class="fa fa-desktop color"></i> My Account <small>Subtext for header</small></h2>
          <hr />
       </div>
    </div>
    <!-- Page title -->
    
    <!-- Page content -->
    
    <div class="account-content">
       <div class="container">
          
          <div class="row">
             <div class="col-md-3">
                <div class="sidey">
                   <ul class="nav">
                       <li><a href="account.html">My Account</a></li>
                       <li><a href="wishlist.html">Wish List</a></li>
                       <li><a href="orderhistory.html">Order History</a></li>                         
                       <li><a href="editprofile.html">Edit Profile</a></li>
                   </ul>
                </div>
             </div>
             <div class="col-md-9">
                <h3><i class="fa fa-user color"></i> &nbsp;Wish List</h3>
                <table class="table table-striped tcart">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td><a href="single-item.html">HTC One</a></td>
                      <td>$530</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td><a href="single-item.html">Sony Xperia</a></td>
                      <td>$330</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td><a href="single-item.html">Nokia Asha</a></td>
                      <td>$230</td>
                      <td>6</td>
                    </tr>  
                    <tr>
                      <td>4</td>
                      <td><a href="single-item.html">Xperia Tipo</a></td>
                      <td>$330</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td><a href="single-item.html">Apple iPhone</a></td>
                      <td>$730</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td><a href="single-item.html">Windows Mobile</a></td>
                      <td>$130</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td><a href="single-item.html">Galaxy SIII</a></td>
                      <td>$430</td>
                      <td>2</td>
                    </tr>                                                                                                             
                  </tbody>
                </table>
             </div>
          </div>
          
          <div class="sep-bor"></div>
       </div>
    </div>
   
    
    <!-- Recent posts Starts -->

    <div class="recent-posts blocky">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <!-- Section title -->
                <div class="section-title">
                   <h4><i class="fa fa-desktop color"></i> &nbsp;Whats New</h4>
                </div>    
                
			  <div id="item-carousel" class="carousel slide" data-ride="carousel">
						
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<!-- single item -->
								<div class="s-item">
									<!-- Image link -->
									<a href="single-item.html">
										<img src="img/items/2.png" class="img-responsive" alt="" />
									</a>
									<!-- portfolio caption -->
									<div class="s-caption">
										<!-- heading and paragraph -->
										<h4><a href="#">Finibus Bonorum</a></h4>
										<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="s-item">
									<a href="single-item.html">
										<img src="img/items/3.png" class="img-responsive" alt="" />
									</a>
									<div class="s-caption">
										<h4><a href="#">Finibus Bonorum</a></h4>
										<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="s-item">
									<a href="single-item.html">
										<img src="img/items/4.png" class="img-responsive" alt="" />
									</a>
									<div class="s-caption">
										<h4><a href="#">Finibus Bonorum</a></h4>
										<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="s-item">
									<a href="single-item.html">
										<img src="img/items/5.png" class="img-responsive" alt="" />
									</a>
									<div class="s-caption">
										<h4><a href="#">Finibus Bonorum</a></h4>
										<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="s-item">
									<a href="single-item.html">
										<img src="img/items/6.png" class="img-responsive" alt="" />
									</a>
									<div class="s-caption">
										<h4><a href="#">Finibus Bonorum</a></h4>
										<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="s-item">
									<a href="single-item.html">
										<img src="img/items/7.png" class="img-responsive" alt="" />
									</a>
									<div class="s-caption">
										<h4><a href="#">Finibus Bonorum</a></h4>
										<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="s-item">
									<a href="single-item.html">
										<img src="img/items/8.png" class="img-responsive" alt="" />
									</a>
									<div class="s-caption">
										<h4><a href="#">Finibus Bonorum</a></h4>
										<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="s-item">
									<a href="single-item.html">
										<img src="img/items/9.png" class="img-responsive" alt="" />
									</a>
									<div class="s-caption">
										<h4><a href="#">Finibus Bonorum</a></h4>
										<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				  <!-- Controls -->
				<a class="left c-control" href="#item-carousel" data-slide="prev">
					<i class="fa fa-chevron-left"></i>
				</a>
				<a class="right c-control" href="#item-carousel" data-slide="next">
					<i class="fa fa-chevron-right"></i>
				</a>

			</div>
			  
             </div>
          </div>
       </div>
    </div>
		
    <!-- Recent posts Ends -->		
    
    
    <!-- Catchy starts -->
    <div class="catchy blocky">
       <div class="catchy-inner1">
          <div class="catchy-inner2">
             <div class="container">
                <div class="row">
                   <div class="col-md-5">
                      <div class="catchy-subscribe">
                         <h3>Join Us!</h3>
                         <p>Lorem tristique est sit amet diam ipsum  dolor sit  diam interdum diam ipsum  dolor sit diam ipsum  dolor sit tristique semper.</p>
                         <br />
                         <form class="form-inline" role="form">
                           <div class="form-group">
                             <input type="text" class="form-control " id="exampleInputEmail2" placeholder="Enter your email">
                           </div>
                           <button type="submit" class="btn btn-danger">Subscribe</button>
                         </form>

                      </div>
                   </div>
                   <div class="col-md-7">
                   
                      <div class="report">
                         <div class="report-bor">
                            <div class="row">
                               <!-- Report data starts -->
                               <div class="col-md-4 col-sm-4">
                                  <div class="report-data">
                                     <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                           <!-- Icon -->
                                           <div class="report-icon">
                                              <i class="fa fa-group color"></i>
                                           </div>
                                        </div>
                                        <div class="col-md-8 col-md-8 col-xs-8">
                                           <!-- Details -->
                                           <span class="report-big color">40,000</span> <span>Customers</span>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <!-- Report data ends -->
                               
                               <!-- Report data starts -->
                               <div class="col-md-4 col-sm-4">
                                  <div class="report-data">
                                     <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                           <!-- Icon -->
                                           <div class="report-icon">
                                              <i class="fa fa-calendar color"></i>
                                           </div>
                                        </div>
                                        <div class="col-md-8 col-md-8 col-xs-8">
                                           <!-- Details -->
                                            <span>Since</span><span class="report-big color">1857</span>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <!-- Report data ends -->

                               <!-- Report data starts -->
                               <div class="col-md-4 col-sm-4">
                                  <div class="report-data">
                                     <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                           <!-- Icon -->
                                           <div class="report-icon">
                                              <i class="fa fa-android color"></i>
                                           </div>
                                        </div>
                                        <div class="col-md-8 col-md-8 col-xs-8">
                                           <!-- Details -->
                                           <span class="report-big color">30,000</span> <span>Revenue</span>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <!-- Report data ends -->
                               
                            </div>
                            
                            <hr class="hidden-xs">
                            
                            <div class="row">
                               
                               <!-- Report data starts -->
                               <div class="col-md-4 col-sm-4">
                                  <div class="report-data">
                                     <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                           <!-- Icon -->
                                           <div class="report-icon">
                                              <i class="fa fa-building-o color"></i>
                                           </div>
                                        </div>
                                        <div class="col-md-8 col-md-8 col-xs-8">
                                           <!-- Details -->
                                           <span class="report-big color">150 +</span> <span>Companies</span>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <!-- Report data ends -->
                               
                               <!-- Report data starts -->
                               <div class="col-md-4 col-sm-4">
                                  <div class="report-data">
                                     <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                           <!-- Icon -->
                                           <div class="report-icon">
                                              <i class="fa fa-signal color"></i>
                                           </div>
                                        </div>
                                        <div class="col-md-8 col-md-8 col-xs-8">
                                           <!-- Details -->
                                           <span class="report-big color">50.60%</span> <span>Growth</span>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <!-- Report data ends -->

                               <!-- Report data starts -->
                               <div class="col-md-4 col-sm-4">
                                  <div class="report-data">
                                     <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                           <!-- Icon -->
                                           <div class="report-icon">
                                              <i class="fa fa-truck color"></i>
                                           </div>
                                        </div>
                                        <div class="col-md-8 col-md-8 col-xs-8">
                                           <!-- Details -->
                                           <span class="report-big color">100 +</span> <span>Employees</span>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <!-- Report data ends -->
                               
                            </div>
                            
                         </div>
                      </div> 
                   
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>      
    <!-- Catchy ends -->
    
    <!-- CTA Starts -->
    <div class="blocky">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="cta">
                   <div class="row">
                      <div class="col-md-8 col-sm-8">
                         <h5><i class="fa fa-angle-right"></i> Lorem trist iquest <span class="color">siamet diam</span> ipsum dolor sitamt</h5>
                      </div>
                      <div class="col-md-4 col-sm-4">
                         <div class="cta-buttons pull-right">
                            <a href="#" class="btn btn-info btn-lg">Download</a> &nbsp; <a href="#" class="btn btn-danger btn-lg">Get It Now</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>               
          </div>
       </div>
    </div>
