

<!DOCTYPE html>
<html ng-app="PastQuest">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PasQuest</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!--toaster-->
    <link rel="stylesheet" href="../vendors/css/slider/style.css">
    <link rel="stylesheet" href="../vendors/css/slider/responsive.css">

    <link rel="stylesheet" href="../vendors/css/toaster.css">
    <link rel="stylesheet" href="../vendors/css/bootstrap-switch.css">
    <link rel="stylesheet" href="../vendors/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">-->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="css/AdminLTE.min.css">
    <link rel="stylesheet" href="css/skins/skin-blue.min.css">
    <link rel="stylesheet" type="text/css" href="../vendors/dropzone/css/dropzone.css">
    <link rel="stylesheet" href="css/select2.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!--&lt;!&ndash; DataTables &ndash;&gt;-->
    <!-- jQuery 2.1.4 -->
    <script src="../vendors/js/jQuery-2.1.4.min.js"></script>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="hold-transition skin-blue sidebar-mini" ng-controller="Default">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="#" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>R</b>E</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Past</b>Question</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="img/user2-160x160.jpg" class="user-image" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">{{session.username}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    <p>
                      Logged in as
                      <small>{{session.username}}</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body btn-dark">
                    <div class="col-xs-4 text-center">
                      <a href="#"></a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#"></a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#"></a>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="../" target="_blank" class="btn btn-default btn-flat">Visit Site</a>
                    </div>
                    <div class="pull-right">
                      <button ng-click="logout()" class="btn btn-default btn-flat">Sign out</button>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{session.username}}</p>
              <!-- Status -->
              <div ng-if="session.username != 'Guest'">
                <a href="#"><i class="fa fa-circle text-success"></i> Active</a>
              </div>
              <div ng-if="session.username == 'Guest'">
                <a href="#"><i class="fa fa-circle text-danger"></i> Inactive</a>
              </div>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li class="treeview">
              <a href="">
                <i class="fa fa-home"></i> <span>Question</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#new_question"><i class="fa fa-plus-circle"></i> New Qustion</a></li>
                <li><a href="#view_questions"><i class="fa fa-eye"></i>Questions</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="">
                <i class="fa fa-user"></i> <span>Faculty</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#new_faculty"><i class="fa fa-plus-circle"></i> New Faculty</a></li>
                <li><a href="#view_faculties"><i class="fa fa-eye"></i>Faculties</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="">
                <i class="fa fa-user"></i> <span>Department</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#new_depart"><i class="fa fa-plus-circle"></i> New Department</a></li>
                <li><a href="#view_depart"><i class="fa fa-eye"></i>Departments</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="">
                <i class="fa fa-user"></i> <span>Course</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#new_course"><i class="fa fa-eye"></i> New Course</a></li>
                <li><a href="#view_course"><i class="fa fa-eye"></i>Courses</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="">
                <i class="fa fa-user"></i> <span>Users</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#view_users"><i class="fa fa-plus-circle"></i> Registered Users</a></li>

              </ul>
            </li>


            <li class="treeview">
              <a href="">
                <i class="fa fa-cogs"></i> <span>Settings</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#question_settings"><i class="fa fa-cog"></i>Question Settings</a></li>

                <li><a href="#system_settings"><i class="fa fa-cog"></i> System Settings</a></li>
                <li><a href="#admin_settings"><i class="fa fa-cog"></i> Admin Settings</a></li>
              </ul>
            </li>
          </ul><!-- /.sidebar-menu -->

        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div ng-if="session.username != 'Guest'">
          <section class="content-header">
            <h1>
              PastQuest
              <small>Administrator Panel</small>
            </h1>
          </section>
        </div>

        <!-- Main content -->
        <section class="content" ng-view>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <div class="container">
        <!-- Modal -->
      </div>

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="#">PastQues.com</a>.</strong> All rights reserved.
      </footer>
      <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>


    </div><!-- ./wrapper -->
    <!-- NOTE: remove 'animation-class': 'toast-top-center' if you want it on the left top corner -->
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':false, 'animation-class': 'toast-top-right'}"></toaster-container>


    <!-- REQUIRED JS SCRIPTS -->
    <script src="../vendors/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/js/dataTables.bootstrap.min.js"></script>

    <!--Angular js-->
    <script src="../vendors/js/angular/angular.min.js"></script>
    <script src="../vendors/js/angular/angular-route.min.js"></script>
    <script src="../vendors/js/angular/angular-animate.min.js"></script>
    <script src="../vendors/js/angular/angular-datatables.min.js"></script>
    <script src="../vendors/js/toaster.js"></script>
    <script src="app/controllers/app.js"></script>
    <script src="app/services/data.js"></script>
    <script src="../api/services/loginService.js"></script>
    <script src="app/controllers/default.js"></script>
    <script src="app/controllers/login.js"></script>

    <script src="app/services/file_upload.js"></script>
    <script src="app/controllers/system_settings.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="../vendors/js/bootstrap-switch.js"></script>
    <script src="../vendors/js/bootstrap-fileupload.js"></script>
    <script src="js/select2.full.min.js"></script>
    <script src="../vendors/js/jquery.jcarousel.min.js"></script>
    <script src="js/toggle/app.js"></script>
    <!-- AdminLTE App -->
    <script src="js/app.min.js"></script>
    <!-- Page Script -->

  </body>
</html>
