<div class="row">
    <!--<div ng-include="'partials/pr_sub_menu.html'"></div>-->
    <div class="col-md-12">
        <div class="panel">
            <form name="form1" ng-init="getPhoto()" ng-submit="addOwner()">
                <div class="panel-heading">
                    <h3>Admin Settings</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section class="panel">
                                <header class="panel-heading">
                                   <h5 class="text-primary">Admin </h5>

                                </header>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label">Username</label>
                                            <div class="col-sm-8">
                                                <input ng-model="username" type="text" class="form-control"  placeholder="Username">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label">Password</label>
                                            <div class="col-sm-8">
                                                <input ng-model="password" type="password" class="form-control" placeholder="password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button type="submit" ng-disabled="form1.$invalid" class="btn btn-dark">Confirm Data</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });
</script>
