
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <h3>Inbox</h3>
      </div>
      <div class="panel-body">
        <div class="card-block">
          <div class="row">
            <button class="btn btn-primary" data-toggle="modal" data-target="#composeMsg">Compose</button>
            <div class="col-md-3 pull-right">
              <form class="pull-right">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchOwner">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="mailbox-controls">
              <button class="btn btn-default btn-sm checkbox-toggle">
              <i class="fa fa-square-o"></i></button>
              <div class="btn-group">
                <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
              </div>
              <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
              <div class="col-md-2 pull-right">1-50/200
                <div class="btn-group">
                  <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i>
                  </button>
                  <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <table id="inboxView" class="table table-hover table-striped">
            <thead>
              <tr>
                <th> </th>
                <th>Name</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox"></td>
                <td>{{message.name}}</td>
                <td>{{message.subject}}</td>
                <td>{{message.message}}</td>
                <td>{{message.date}}</td>
              </tr>  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="composeMsg" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="col-lg-12">
        <div class="panel">
          <div class="modal-header">
            <h3>Compose New Message</h3>
          </div><!-- /.box-header -->
          <div class="modal-body">
            <div class="form-group">
              <input class="form-control" placeholder="To:">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Subject:">
            </div>
            <div class="form-group">
                    <textarea id="compose-textarea" class="form-control" style="height: 300px">

                    </textarea>
            </div>
          </div><!-- /.box-body -->
          <div class="modal-footer">
            <div class="pull-right">
              <button data-dismiss="modal" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
              <button type="submit" class="btn btn-dark"><i class="fa fa-send"></i> Send</button>
            </div>
            <div class="pull-left">
              <span>Max. 32MB</span>
              <div class="btn btn-default btn-file">
                <i class="fa fa-paperclip"></i> Attachment
                <input type="file" name="attachment">
              </div>
            </div>
          </div><!-- /.box-footer -->
        </div><!-- /. box -->
      </div><!-- /.col -->
    </div>
  </div>
</div>

<script>
    $('[data-tooltip="tooltip"]').tooltip();

    $('#inboxView').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": true
    });
</script>
<script>
  $(function () {
    //Add text editor
    $("#compose-textarea").wysihtml5();
  });
</script>