<!-- start:main -->
<div class="row">
    <div class="container">
        <div id="main">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        New Questions
                    </h2>
                </div>
            </div>

            <!-- start:dropzone file upload -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <header class="panel-title">
                                Upload questions
                            </header>
                        </div>
                        <div class="panel-body">
                            <form action="app/server/upload.php" class="dropzone" id="my-awesome-dropzone"></form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end:dropzone file upload -->

        </div>
    </div>
</div>
<!-- end:main -->

<script src="../vendors/dropzone/dropzone.js"></script>