<div class="row">
    <!--<div ng-include="'partials/pr_sub_menu.html'"></div>-->
    <div class="col-md-12">
        <div class="panel">
            <form name="form1" ng-init="getPhoto()" ng-submit="addProperty()">
                <div class="panel-heading">
                    <h3>New Course</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel">

                                <div class="panel-body">
                                    <div class="form-horizontal">



                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label">Faculty </label>
                                            <div class="col-lg-10">
                                                <select ng-model="owner" ng-options="owner.fname for owner in owners track by owner.idpr_owner" class="form-control m-bot15">
                                                    <option value="">Select Faculty</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label">Department </label>
                                            <div class="col-lg-10">
                                                <select ng-model="owner" ng-options="owner.fname for owner in owners track by owner.idpr_owner" class="form-control m-bot15">
                                                    <option value="">Select Department</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label  class="col-sm-2 control-label">Code </label>
                                            <div class="col-sm-10">
                                                <input ng-model="code" type="text" class="form-control"  placeholder="Course Code">
                                            </div>
                                        </div>

                                        <div class="form-group required">
                                            <label  class="col-sm-2 control-label">Course </label>
                                            <div class="col-sm-10">
                                                <input ng-model="course" type="text" class="form-control"  placeholder="Course Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>

                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button type="submit" ng-disabled="form1.$invalid" class="btn btn-dark">Confirm Data</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });
</script>
<script src="../../vendors/js/bootstrap-filestyle.min.js"></script>
