<div class="row">
    <!--<div ng-include="'partials/pr_sub_menu.html'"></div>-->
    <div class="col-md-12">
        <div class="panel">
            <form name="form1" ng-init="getPhoto()" ng-submit="addOwner()">
                <div class="panel-heading">
                    <h3>New Faculty</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel">

                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-8">
                                                <input ng-model="fname" type="text" class="form-control" id="inputFname" placeholder="Faculty Name">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button type="submit" ng-disabled="form1.$invalid" class="btn btn-dark">Confirm Data</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });
</script>
