<div class="row">
    <!--<div ng-include="'partials/pr_sub_menu.html'"></div>-->
    <div class="col-md-12">
        <div class="panel">
                <div class="panel-heading">
                    <h3> Question Settings</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h5 class="text-primary">Property Type</h5>
                                </header>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-8">
                                                <input ng-model="type" type="text" class="form-control"  placeholder="eg Commercial">
                                                <br />
                                                <button type="submit" ng-disabled="type.$invalid" class="btn btn-dark">Confirm Data</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h5 class="text-primary">Property Contract</h5>
                                </header>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-8">
                                                <input ng-model="contract" type="text" class="form-control" placeholder="eg Rent" name="contract">
                                                <br />
                                                <button type="submit" ng-disabled="contract.$error" class="btn btn-dark">Confirm Data</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h5 class="text-primary">Property Features</h5>
                                </header>
                                <br />
                                <button type="submit" ng-disabled="form1.$invalid" class="btn btn-dark">Confirm Data</button>
                            </section>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });
</script>
