<div class="row">
    <!--<div ng-include="'partials/pr_sub_menu.html'"></div>-->
    <div class="col-md-12">
        <div class="panel">
            <form name="system_setting" ng-init="" ng-submit="">
                <div class="panel-heading">
                    <h3>Company Info Settings</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section class="panel">
                                <header class="panel-heading">
                                    <button type="button" class="btn btn-primary">Step <span class="badge">1</span></button>
                                </header>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-8">
                                                <input ng-model="company_name" type="text" class="form-control" placeholder="Company name">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label">Phone</label>
                                            <div class="col-sm-8">
                                                <input ng-model="phone" type="text" class="form-control" placeholder="Phone Number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section class="panel">
                                <header class="panel-heading">
                                    <button type="button" class="btn btn-primary">Step <span class="badge">2</span></button>
                                </header>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-8">
                                                <input ng-model="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label">Location</label>
                                            <div class="col-sm-8">
                                                <input ng-model="location" type="text" class="form-control" id="inputLocation" placeholder="Location">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button type="submit" ng-click="update()" ng-disabled="system_setting.$invalid" class="btn btn-dark">Update Data</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });
</script>
