<div class="row">
    <!--<div ng-include="'partials/pr_sub_menu.html'"></div>-->
    <div class="col-md-12">
        <div class="panel">
                <div class="panel-heading">
                    <h3>View Departments</h3>
                </div>
                <div class="panel-body">
                    <div class="card-block">
                        <div class="col-md-3 pull-right">
                            <form class="pull-right">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-search"></i></div>

                                        <input type="text" class="form-control" placeholder="Search" ng-model="searchAgent">

                                    </div>
                                </div>
                            </form>
                        </div>
                        <table id="agentView" class="table table-striped table-bordered datatable">
                            <thead>
                            <tr>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Location</th>
                                <th>NID card</th>
                                <th>Phone Number</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="agent in agents">
                                <td>{{agent.fname}}</td>
                                <td>{{agent.lname}}</td>
                                <td>{{agent.email}}</td>
                                <td>{{agent.location}}</td>
                                <td>{{agent.idcard_num}}</td>
                                <td>{{agent.phone_num}}</td>
                                <td>
                                    <span data-toggle="modal" data-target="#editAgent">
                                        <a class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Edit"
                                           ng-click="getAgent(
                                       agent.idpr_agent,agent.fname,agent.lname,agent.phone_num,agent.email,agent.idcard_num,agent.location
                                       )"
                                                >
                                            <i class="fa fa-edit "></i>
                                        </a>
                                    </span>
                                    <span data-toggle="modal" data-target="#viewPhoto">
                                        <a class="btn btn-info btn-sm" ng-click="displayPhoto(agent.photo)" href="" data-toggle="tooltip" data-placement="top" title="View photo">
                                            <i class="fa fa-search-plus "></i>
                                        </a>
                                    </span>
                                    <span data-toggle="modal" data-target="#deleteAgent">
                                        <a class="btn btn-danger btn-sm" ng-click="getData(agent.idpr_agent,agent.photo)"
                                           data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="fa fa-trash-o "></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="viewPhoto" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agent's photo</h4>
                    <div class="panel-body" >
                        <img src="img/uploads/{{photo}}" style="margin-left: 15%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="editAgent" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header orange">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Agent with ID: #{{id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label" >Firstname</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" ng-model="fname" required placeholder="Firstname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label" >Lastname</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" ng-model="lname" required placeholder="Lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">Phone number</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" id="price" placeholder="Phone Number" ng-model="pnumber" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-lg-2 col-sm-2 control-label">Email</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" placeholder="Email" ng-model="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-lg-2 col-sm-2 control-label" >ID Card</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" ng-model="idcard" required placeholder="ID Card Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-lg-2 col-sm-2 control-label">Location</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" id="location" placeholder="Location" ng-model="location" required>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer bg-gray">
                    <input type="submit" class="btn btn-dark" value="Save Changes" ng-click="updateAgent()"/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="deleteAgent" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header orange">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Agent with ID: #{{id}}</h4>
                </div>
                <div class="modal-body">
                    <div align="center">
                        <h5>Are you sure want to delete this Agent?</h5>
                        <h6>for this action will permanently delete this Agent </h6>
                    </div>
                </div>
                <div class="modal-footer bg-gray">
                    <input type="number" hidden class="btn btn-dark" ng-model="id"/>
                    <input type="text" hidden class="btn btn-dark" ng-model="photo"/>
                    <input type="submit" class="btn btn-dark" value="OK" ng-click="deleteAgent()"/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#agentView').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": true
    });
</script>
