<div class="row">
    <!--<div ng-include="'partials/pr_sub_menu.html'"></div>-->
    <div class="col-md-12">
        <div class="panel">
                <div class="panel-heading">
                    <h3>View Questions</h3>
                </div>
                <div class="panel-body">
                    <div class="card-block">
                            <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Price</th>
                                        <th>Agent</th>
                                        <th>Owner</th>
                                        <th>Location</th>
                                        <th>Account number</th>
                                        <th>Status</th>
                                        <!--<th>Availability</th>-->
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="prop in properties">
                                        <td>#RE{{prop.idproperty}}</td>
                                        <td>{{prop.pname}}</td>
                                        <td>{{prop.p_type}}</td>
                                        <td>{{prop.price}}</td>
                                        <td>{{prop.agent}}</td>
                                        <td>{{prop.owner}}</td>
                                        <td>{{prop.location}}</td>
                                        <td>{{prop.account_num}}</td>
                                        <!--<td>-->
                                            <!--<label class="switch switch-text switch-pill switch-primary">-->
                                                <!--<input ng-model="status" type="checkbox" class="switch-input" checked>-->
                                                <!--<span class="switch-label" data-on="On" data-off="Off"></span>-->
                                                <!--<span class="switch-handle"></span>-->
                                            <!--</label>-->
                                        <!--</td>-->
                                        <td>
                                            <div ng-if="prop.status == 1">
                                                <label class="switch switch-icon switch-pill switch-success">
                                                    <input type="checkbox" class="switch-input" checked ng-click="stateChange(prop.idproperty,prop.status)">
                                                <span class="switch-label" data-on="&#xF00C;" data-off="&#xF00D;"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                            <div ng-if="prop.status != 1">
                                                <label class="switch switch-icon switch-pill switch-success">
                                                    <input type="checkbox" class="switch-input" ng-click="stateChange(prop.idproperty,prop.status)">
                                                <span class="switch-label" data-on="&#xF00C;" data-off="&#xF00D;"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span data-toggle="modal" data-target="#editProperty">
                                            <a href="" class="btn btn-success btn-sm"
                                               ng-click="getAgent(
                                               prop.idproperty,
                                               prop.price,
                                               prop.location,
                                               prop.area,
                                               prop.bathroom,
                                               prop.bedroom,
                                               prop.description,
                                               prop.owner,
                                               prop.agent,
                                               prop.p_type,
                                               prop.account_num,
                                               prop.contract)"
                                               data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="fa fa-edit "></i>
                                            </a>
                                            </span>
                                            <span data-toggle="modal" data-target="#viewPhoto">
                                            <a class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="View Photo">
                                                <i class="fa fa-search-plus "></i>
                                            </a>
                                            </span>
                                            <span data-toggle="modal" data-target="#deleteProperty">
                                            <a ng-click="getData(prop.idproperty,prop.photo_1,photo_2,photo_3)" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="fa fa-trash-o "></i>
                                            </a>
                                            </span>
                                            <span data-toggle="modal" data-target="#addFeatures">
                                            <a ng-click="getFeatures(prop.idproperty)" class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Add Features">
                                                <i class="fa fa-list "></i>
                                            </a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <div class="container">
                        <!-- Modal -->
                        <div class="modal fade" id="viewPhoto" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Photos Of Property {{id}}</h4>
                                        <div class="panel-body" >
                                            <!-- image slider-->
                                            <div id="slider-property" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#slider-property" data-slide-to="0" class="">
                                                        <img src="img/photo1.png" alt="">
                                                    </li>
                                                    <li data-target="#slider-property" data-slide-to="1" class="active">
                                                        <img src="img/photo2.png" alt="">
                                                    </li>
                                                    <li data-target="#slider-property" data-slide-to="2">
                                                        <img src="img/photo3.png" alt="">
                                                    </li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div class="item">
                                                        <img src="img/photo1.png" alt="">
                                                    </div>
                                                    <div class="item active">
                                                        <img src="img/photo2.png" alt="">
                                                    </div>
                                                    <div class="item">
                                                        <img src="img/photo3.png" alt="">
                                                    </div>
                                                </div>
                                                <a class="left carousel-control" href="#slider-property" data-slide="prev">
                                                </a>
                                                <a class="right carousel-control" href="#slider-property" data-slide="next">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="editProperty" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header orange">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Property #RE{{id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section class="panel">
                                <header class="panel-heading">
                                    <button type="button" class="btn btn-primary">Step <span class="badge">1</span></button>
                                </header>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group required">
                                            <label for="inputPrice" class="col-sm-2 control-label">Price</label>
                                            <div class="col-sm-10">
                                                <input ng-model="price" type="number" class="form-control" id="inputPrice" placeholder="Example: 50000" style="background-color: #FAFFBD">
                                                <p class="help-block">Currrent price:  {{price}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label for="inputLocation" class="col-sm-2 control-label">Location</label>
                                            <div class="col-sm-10">
                                                <input ng-model="location" type="text" class="form-control" id="inputLocation" placeholder="Location">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label for="inputArea" class="col-sm-2 control-label">Area</label>
                                            <div class="col-sm-10">
                                                <input ng-model="area" type="text" class="form-control" id="inputArea" placeholder="Area">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label">Owner</label>
                                            <div class="col-lg-10">
                                                <select ng-model="owner" ng-options="owner.fname for owner in owners" class="form-control m-bot15">
                                                    <option value=""></option>
                                                </select>
                                                <p class="help-block">Currrent owner:  {{owner}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-6">
                            <section class="panel">
                                <header class="panel-heading">
                                    <button type="button" class="btn btn-primary">Step <span class="badge">2</span></button>
                                </header>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group required">
                                            <label class="col-sm-3 control-label">Bank acc</label>
                                            <div class="col-sm-9">
                                                <input ng-model="account" type="text" class="form-control" placeholder="Bank account number" style="background-color: #FAFFBD">
                                                <p class="help-block">Currrent account number:  {{account}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-sm-3 control-label">Agent</label>
                                            <div class="col-lg-9">
                                                <select ng-model="agent" ng-options="agent.fname for agent in agentList" class="form-control m-bot15">
                                                    <option value=""></option>
                                                </select>
                                                <p class="help-block">Currrent agent:  {{agent}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <button type="button" class="btn btn-primary">Step <span class="badge">3</span></button>
                                </header>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-lg-10">
                                                    <input ng-model="rooms" type="number" class="form-control" id="inputBedRoom" placeholder="Number of Rooms">
                                                    <p class="help-block">Currrent number of rooms:  {{rooms}}</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-10">
                                                    <input ng-model="baths" type="number" class="form-control" id="inputBathRoom" placeholder="Number of baths">
                                                    <p class="help-block">Currrent number of baths:  {{baths}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">Contract</label>
                                                <div class="col-lg-9">
                                                    <select ng-model="contract" ng-options="contract.c_name for contract in contracts" class="form-control m-bot15">
                                                        <option value=""></option>
                                                    </select>
                                                    <p class="help-block">Currrent contract:  {{contract}}</p>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">Type</label>
                                                <div class="col-lg-9">
                                                    <select ng-model="type" ng-options="houseType.t_name for houseType in types" class="form-control m-bot15">
                                                        <option value=""></option>
                                                    </select>
                                                    <p class="help-block">Currrent type:  {{type}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group required">
                                                    <label class="col-sm-2 control-label" for="InputDescription">Desc</label>
                                                    <div class="col-md-8">
                                                        <textarea ng-model="desc" class="form-control" rows="4" id="InputDescription" placeholder="Some text..."></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-gray">
                    <input type="submit" class="btn btn-dark" value="Save Changes" ng-click="updateProperty()"/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="deleteProperty" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header orange">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Property {{id}}</h4>
                </div>
                <div class="modal-body">
                    <div align="center">
                        <p>You are about to delete a property.</p>
                        <p>Do you want to proceed?</p>
                    </div>
                </div>
                <div class="modal-footer bg-gray">
                    <input type="number" hidden class="btn btn-dark" ng-model="id"/>
                    <input type="text" hidden class="btn btn-dark" ng-model="photo_1"/>
                    <input type="text" hidden class="btn btn-dark" ng-model="photo_2"/>
                    <input type="text" hidden class="btn btn-dark" ng-model="photo_3"/>
                    <input type="submit" class="btn btn-dark" value="OK" ng-click="deleteProperty()"/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="addFeatures" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header orange">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enable/Disable Property Features {{id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="form">
                                <table id="features" class="table table-striped table-bordered datatable">
                                    <thead>
                                    <tr>
                                        <th>Features</th>
                                        <th class="text-right">Enable/Disable</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="feature in all_features">
                                        <td>{{feature.f_name}}</td>
                                        <td class="text-right">
                                            <div ng-if="feature.value == 1">
                                                <input type="number" hidden ng-model="myid"/>
                                                <input type="checkbox" checked
                                                       name="" ng-click="featureChange(myid,feature.value,feature.f_name)"/>
                                            </div>
                                            <div ng-if="feature.value != 1">
                                                <input type="number" hidden ng-model="myid"/>
                                                <input type="checkbox"
                                                       name="" ng-click="featureChange(myid,feature.value,feature.f_name)"/>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-gray"><br>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script>-->
    <!--$(':checkbox').checkboxpicker();-->
<!--</script>-->
