<div class="row">
    <!--<div ng-include="'partials/pr_sub_menu.html'"></div>-->
    <div class="col-md-12">
        <div class="panel">
                <div class="panel-heading">
                    <h3>View Faculties</h3>
                </div>
                <div class="panel-body">
                    <div class="card-block">
                        <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered datatable">
                            <thead>
                            <tr>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Location</th>
                                <th>NID card</th>
                                <th>Phone Number</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="owner in owners">
                                <td>{{owner.fname}}</td>
                                <td>{{owner.lname}}</td>
                                <td>{{owner.email}}</td>
                                <td>{{owner.location}}</td>
                                <td>{{owner.idcard_num}}</td>
                                <td>{{owner.phone_num}}</td>
                                <td>
                                    <span data-toggle="modal" data-target="#editOwner">
                                        <a class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Edit"
                                           ng-click="getOwner(
                                       owner.idpr_owner,owner.fname,owner.lname,owner.phone_num,owner.email,owner.idcard_num,owner.location
                                       )"
                                           >
                                            <i class="fa fa-edit "></i>
                                        </a>
                                    </span>
                                    <span data-toggle="modal" data-target="#viewPhoto">
                                        <a class="btn btn-info btn-sm" ng-click="displayPhoto(owner.photo)" href="" data-toggle="tooltip" data-placement="top" title="View photo">
                                            <i class="fa fa-search-plus "></i>
                                        </a>
                                    </span>
                                    <span data-toggle="modal" data-target="#deleteOwner">
                                        <a class="btn btn-danger btn-sm" ng-click="getData(owner.idpr_owner,owner.photo)"
                                           data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="fa fa-trash-o "></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="viewPhoto" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Owner's photo</h4>
                    <div class="panel-body" >
                        <img src="img/uploads/{{photo}}" style="margin-left: 15%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="editOwner" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header orange">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Owner {{id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label" >Firstname</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" ng-model="fname" required placeholder="Firstname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label" >Lastname</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" ng-model="lname" required placeholder="Lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">Phone number</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" id="price" placeholder="Phone Number" ng-model="pnumber" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-lg-2 col-sm-2 control-label">Email</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" placeholder="Email" ng-model="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-lg-2 col-sm-2 control-label" >ID Card</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" ng-model="idcard" required placeholder="ID Card Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-lg-2 col-sm-2 control-label">Location</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" id="location" placeholder="Location" ng-model="location" required>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer bg-gray">
                    <input type="submit" class="btn btn-dark" value="Save Changes" ng-click="updateOwner()"/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="deleteOwner" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header orange">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Owner {{id}}</h4>
                </div>
                <div class="modal-body">
                    <div align="center">
                        <h5>Are you sure want to delete this Owner?</h5>
                        <h6>for this action will permanently delete this Owner </h6>
                    </div>
                </div>
                <div class="modal-footer bg-gray">
                    <input type="number" hidden class="btn btn-dark" ng-model="id"/>
                    <input type="text" hidden class="btn btn-dark" ng-model="photo"/>
                    <input type="submit" class="btn btn-dark" value="OK" ng-click="deleteOwner()"/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
